<html>
    <head>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        
        <!-- Jquery   -->
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        
        
    </head>
    <body>
        
        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <img src="http://eduroam.tu-sofia.bg/img/Logo-TU.png" style="padding-right:3px;width:55px;height:50px;">
                <div class="navbar-brand" style="padding-right:3px"><b>Assigment System</b></div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/home">Home</a></li>
                    <li><a href="#/availableAssigments">Available Assigments</a></li>
                    {{#isStudent}}
                    <li class="active"><a href="#/myAssigment">My Assigment</a></li>
                    {{else}}
                    <li><a href="#/assigments">Assigments</a></li>
                    {{/isStudent}}
                </ul>
                <ul class="nav navbar-nav navbar-right" style="padding-top:7px">
                    <span style="padding-right:10px">Logged in as <b>{{user.first_name}} {{user.last_name}}</b></span>
                    <a href="#/logout" class="btn btn-danger">Log out</a>
                </ul>
            </div>
        </div>
    </nav>
        
        
        <div class="container">
            <div class="page-header">
                <h1>
                    My Assigment
                </h1>
            </div>
            <div class="jumbotron">
                <div><span id="assigment-id" style="display:none">{{assigment.id}}</span><h2>{{assigment.name}} </h2></div>
                <p> {{assigment.description}}</p>
                <form id="file-form">
                    <div class="form-group">
                        <p><label for="exampleInputFile">Upload pdf</label></p>
                        <input type="file" id="file-input" accept="application/pdf">
                    </div>
                    <div>
                        <iframe style="display:none" height="750" width="100%" id="viewer" frameborder="0" scrolling="no"></iframe>
                    </div>
                    <br>
                    <div>
                        <a id="submitAssigment" href="#/submitMyAssigment" class="btn btn-success" style="float:right">Submit</a>
                    </div>
                </form>
            </div>
        </div>
        
    </body>
    <script>
        $('#submitAssigment').addClass('disabled');
        
        $("#file-input").change(function () {
            var fileExtension = ['pdf'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only formats are allowed : "+fileExtension.join(' '));
                
            }else{
                $('#submitAssigment').removeClass('disabled');
                $('#viewer').css('display', 'block');
                PreviewImage();
            }
        });
        
        function PreviewImage() {
            pdffile=document.getElementById("file-input").files[0];
            pdffile_url=URL.createObjectURL(pdffile);
            $('#viewer').attr('src',pdffile_url);
        }
        
    </script>
</html>